<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.labcnt.sttq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_ico_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.STToeflQuiz">

        <activity
            android:name=".Passage.Passage1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Passage.Passage2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Passage.Passage3"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Passage.Passage4"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Passage.Passage5"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Direction.Reading_direction"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Direction.Structure_direction"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Direction.Listening_direction"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".About.Dev1"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".About.Dev2"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Splash_exit"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Help"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".About.About" />
        <activity
            android:name=".Final_score"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Reading"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Listening"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Structure"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Home"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Create_account"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>